/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #edf7f6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo img {
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.header-icons a {
    margin-left: 15px;
}

.header-icons img {
    height: 20px;
}

.intro {
    text-align: center;
    padding: 40px 20px;
}

.intro h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.intro p {
    font-size: 16px;
    color: #777;
}

.filter-and-products {
    display: flex;
    padding: 20px;
}

.filters {
    width: 20%;
    padding-right: 20px;
    border-right: 1px solid #ddd;
}

.filters h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.filters ul {
    list-style: none;
    padding: 0;
}

.filters ul li {
    margin-bottom: 10px;
}

.products {
    width: 80%;
    padding-left: 20px;
}

.sort-options {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    flex-direction: column;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    flex-direction: column;
    
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.product-card p {
    font-size: 14px;
    color: #777;
}

/* Media Queries for Responsiveness */

@media (max-width: 1200px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {
    .filter-and-products {
        flex-direction: column;
    }

    .filters {
        width: 100%;
        padding-right: 0;
        border-right: none;
        border-bottom: 1px solid #ddd;
    }

    .products {
        width: 100%;
        padding-left: 0;
    }

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}